div.buttongroups {
  // width: 650px;
  max-width: 500px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

div.buttongroups2 {
  // width: 650px;
  max-width: 1200px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

.textstyle {
  width:600px;
  height:400px;
}