
<mat-tab-group>
  <br>
  <mat-tab label="User session example">
    <amplify-authenticator
[loginMechanisms]="['email']"
[socialProviders]="['google']">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <br>
    <div class="buttongroups" >
    <!-- <form> -->
      <h2><b>MAIN API TEST REQUESTS</b></h2>
      <button (click)="printUser(user)">console.log aws user data</button>
      <br>
      
      <button (click)="getPayload(user)">GET: with good token</button>
      <br>
      <button (click)="getPayloadBADTOKEN(user)">GET: with bad token</button>
      <br> 
      <button (click)="getPayloadNOAUTHNDOW(user)">GET: no token - NDOW</button>
      <br>
      <button (click)="getPayloadNOAUTH(user)">GET: no token - PK=12080116133138912012-09-01</button>
      <br>
    </div>
    <div class="buttongroups" >
      <h2><b>DATA PACKET TEST REQUESTS</b></h2>
      <button (click)="getNDOW_DATAPACKET(user)">PUT: with good token on datapacket</button>
      <br>
      <h2><b>DATA PACKET TEST REQUESTS BAD TOKEN</b></h2>
      <button (click)="getNDOW_DATAPACKET_BADTOKEN(user)">PUT: with bad token on datapacket</button>
      <br>
    </div>


      <h3>username:  <b>{{user.username}}</b></h3>
 
      <h3>user email: <b>{{user.attributes.email}}</b></h3> 

      <h3>accesstoken(jwt):</h3> <details>{{user.signInUserSession.accessToken.jwtToken}}</details>


      <!-- <textarea rows="60" cols="60" spellcheck="false">
      
        
        pool userID: {{user.pool.userPoolId}}
        
        pool clientID: {{user.pool.clientId}}
        
      </textarea> -->
    
    

    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
</mat-tab>

<mat-tab label="Usage example">
  <amplify-authenticator
[loginMechanisms]="['email']"
[socialProviders]="['google']">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
  <div class="buttongroups2">
    <!-- <h2><b>TOKEN DISPLAY</b></h2>
    <textarea class="textstyle">
      {{user.signInUserSession.accessToken.jwtToken}}
    </textarea> -->
    <mat-tab-group>
      <mat-tab label="Python">
        <pre lang="python3">

          <!-- <span>import cognitojwt</span>
          <span>token = 'YOUR_TOKEN_HERE'</span>
          <span>REGION = '**-****-*'</span>
          <span>USERPOOL_ID = 'eu-west-1_*******'</span>
          <span>APP_CLIENT_ID = '1p3*********'</span> -->
          <span>import requests</span>
          <span>import json</span>
          <br>
          <span>def main():</span>
          <span>  lambda_authorizer = "https://oox5sjuicqhezohcpnbsesp32y0yrcbm.lambda-url.us-east-1.on.aws/"</span>
          <span>  username = "{{user.attributes.email}}"</span>
          <span>  password = ********</span>
          <span>  api_endpoint =  "https://devapi.landscapedatacommons.org/api/v1/datagap?ProjectKey=NDOW&take=10"</span>
          <br>
          <span>  token = get_auth_token(lambda_authorizer, username, password)</span>
          <span>  token = token.replace("Auth result: ", "")</span>
          <span>  token = json.loads(token)["AuthenticationResult"]["IdToken"]</span>
          <span>  final_response = fetch_api_content(api_endpoint, token)</span>
          <br>
          <span>  print(final_response)</span>
          <br>
          <span>def get_auth_token(lambda_fun, user, passw):</span>
          <span ngNonBindable>  body = {{'username':user, 'password' passw }}</span>
         
          <span>  response = requests.post(lambda_fun)</span>
          <span>  return response.text</span>
          <br>
          <span>def fetch_api_content(api_endpoint, access_token):</span>
          <span ngNonBindable>  auth_header = {{"Authorization", f"Bearer {{access_token}}" }}</span>
          <span>  api_response = requests.get(api_endpoint, headers=auth_header)</span>
          <span>  return api_response.json()</span>
          <br>
          <br>
          <span>main()</span>
                    <br>
          <br>

        </pre>
      </mat-tab>
      <mat-tab label="R">
        
      </mat-tab>
    </mat-tab-group>
    
  </div>
</ng-template>
</amplify-authenticator>

</mat-tab>
</mat-tab-group>


<router-outlet></router-outlet>