<amplify-authenticator
[loginMechanisms]="['email']"
[socialProviders]="['google']">
  <ng-template
    amplifySlot="authenticated"
    let-user="user"
    let-signOut="signOut"
  >
    <br>
    <div class="buttongroups" >
    <!-- <form> -->
      <h2><b>MAIN API TEST REQUESTS</b></h2>
      <button (click)="printUser(user)">console.log aws user data</button>
      <br>
      
      <button (click)="getPayload(user)">GET: with good token</button>
      <br>
      <button (click)="getPayloadBADTOKEN(user)">GET: with bad token</button>
      <br> 
      <button (click)="getPayloadNOAUTHNDOW(user)">GET: no token - NDOW</button>
      <br>
      <button (click)="getPayloadNOAUTH(user)">GET: no token - PK=12080116133138912012-09-01</button>
      <br>
    </div>
    <div class="buttongroups" >
      <h2><b>DATA PACKET TEST REQUESTS</b></h2>
      <button (click)="getNDOW_DATAPACKET(user)">PUT: with good token on datapacket</button>
      <br>
    </div>


      <h3>username:  <b>{{user.username}}</b></h3>
 
      <h3>user email: <b>{{user.attributes.email}}</b></h3> 

      <h3>accesstoken(jwt):</h3> <details>{{user.signInUserSession.accessToken.jwtToken}}</details>


      <!-- <textarea rows="60" cols="60" spellcheck="false">
      
        
        pool userID: {{user.pool.userPoolId}}
        
        pool clientID: {{user.pool.clientId}}
        
      </textarea> -->
    
    

    <button (click)="signOut()">Sign Out</button>
  </ng-template>
</amplify-authenticator>
<router-outlet></router-outlet>